:root {
  --white: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --grey-light: #dadde1;
  --rating: #ffc531;
  --button: #e44848;
  --button-hover: #d84343;
  --grey: #6c717b;
  --text: #475467;
  --main: #101828;
}

.H1 {
  font-size: 48px;
  line-height: 32px;
  font-weight: 600;
}

.H2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.H3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.Body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.Body2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.Button {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.5%;

  border-radius: 200px;
  background-color: var(--button);
  color: var(--white);
  padding: 16px 0;

  transition: 0.2s background-color;
  cursor: pointer;
}

.Button:hover {
  background-color: var(--button-hover);
}
.ButtonUnderline {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main);
  background: var(--white);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
