:root {
  --white: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --grey-light: #dadde1;
  --rating: #ffc531;
  --button: #e44848;
  --button-hover: #d84343;
  --grey: #6c717b;
  --text: #475467;
  --main: #101828;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
