.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 8px;

  composes: Body from global;
  color: var(--grey);
  position: relative;
}

.selectWrapper {
  position: relative;
}

.mapIcon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  z-index: 2;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subTitle {
  composes: H3 from global;
  margin-bottom: 48px;
  color: var(--main);
  position: relative;
}

.subTitle::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey-light);

  top: 47px;
}

.text {
  composes: Body2 from global;
  color: var(--Text);
}

.menuList {
  list-style: none;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.menuItem {
  width: 112px;
  height: 96px;
  border: 1px solid var(--grey-light);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
}

.menuItem:hover {
  border-color: var(--button);
}

.btn {
  composes: Button from global;
  outline: none;
  border: none;
  width: 166px;
}
