.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 8px;

  composes: Body from global;
  color: var(--grey);
  position: relative;
}

.selectWrapper {
  position: relative;
}

.mapIcon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  z-index: 2;
}
