.catalogList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadBtn {
  background-color: var(--white);
  color: var(--main);

  font-size: 16;
  line-height: 24px;
  font-weight: 500;
  border-radius: 200px;
  padding: 16px 0;
  text-align: center;
  width: 145px;

  outline: none;
  border: 1px solid var(--grey-light);

  cursor: pointer;

  margin: 40px 0 52px 0;
}

.container {
  padding-top: 48px;
}

.wrapper {
  display: flex;
  gap: 64px;
  min-height: calc(100vh - 72px);
}

.sidebar {
  flex: 0 0 360px;
  min-height: 100%;
}
